<div class="chatting-room-title-part">
<div style="display:flex;justify-content: space-between;align-items: center;">
    <h1 class="chatting-room-title"><%= @title %></h1>
    <% if(@chanel.is_group)%>
    <div id="members" style="margin-right:1rem;height:0px;">
    <i class="user icon"></i>
      <%= @members.length %> Members
    </div>  
    <% end %>

</div>  
    
    <div class="ui horizontal divider">
        Messages
    </div>
</div>
<div class="chatting-room-body-part" data-chatroom-id="<%= @chanel.id %>">
    <% @messages.each do |message| %>
    <%= render message%>
    <% end %>
    
    <% if @unread_messages.length>0 %>
        <div class="ui horizontal divider" style="color: purple;">
            New Messages
        </div>
        <% @unread_messages.each do |message| %>
        <%= render message%>
        <% end %>
    <% end %>
</div>

<%= form_with model: [@chanel, @message], class: "chatting-room-form-part", remote: true do |f|%>
        <%= f.text_field :body, placeholder: "message", autofocus:true%>
<%end%>
<% if(!@chanel.is_group)%>
<div class="ui modal" id="chatting_user_details">
  <i class="close icon"></i>
  <div class="header">
    Profile Picture
  </div>
  <div class="image content">
    <div class="ui medium image">
      <%= image_tag(@chatting_user.picture_url, style:"height:300px;width:300px")%>
    </div>
    <div class="description">
      <div class="ui header"><%= @chatting_user.user_name %></div>
      <p><%= @chatting_user.description %></p>
    </div>
  </div>
</div>
<% else %>
<div class="ui mini modal" id="member_list" >
  <div class="header">Member List</div>
  <div class="content" style="display:flex;flex-wrap:wrap;">
    <% @members.each do |member| %>
    <span class="ui basic label" style="margin-bottom:10px;">
      <%= image_tag(member.picture_url)%>
      <%= member.user_name %>
    </span>
    <% end %>
  </div>
</div>
  
<% end %>
<script>
window.scrollTo(0, document.querySelector('.chatting-room-body-part').scrollHeight);
var load = true;
window.onscroll = function () {
    var scrollTop = document.body.scrollTop || document.documentElement.scrollTop;
    var winHeight = window.innerHeight;
    if (load && scrollTop <= 303) {
        load = false;
        const first_id = $(".chatting-room-body-part").children(":first").attr("id");
        const chanel_id = $(".chatting-room-body-part").attr("data-chatroom-id");
        $.ajax({
            type: "GET",
            url: `/messages/getMoreMsg`,
            data: { first_id, chanel_id },
            dataType: "json",
            success: function (data) {
                if (data.status == 200) {
                    $(".chatting-room-body-part").prepend(data.messages);
                    load = true;
                }
            }
        });
    }
};
$(".chatting-room-title").on("click",()=>{
    $('#chatting_user_details').modal('show');
});
$("#members").on("click",()=>{
    $('#member_list').modal('show');
});
</script>