<div class="chatting-room-title-part">
    <h1 class="chatting-room-title">Chat Room</h1>
    <div class="ui horizontal divider">
        Messages
    </div>
</div>
<div class="chatting-room-body-part" data-chatroom-id="<%= @chanel.id %>">
    <% @chanel.messages.order(created_at:"asc").limit(100).each do |message| %>
    <%= render message%>
    <% end %>
</div>

<%= form_with model: [@chanel, @message], class: "chatting-room-form-part", remote: true do |f|%>
        <%= f.label :body%>
        <%= f.text_field :body%>
<%end%>