<div class="show-user">
    <div class="ui negative hidden message">
        <i class="close icon"></i>
        <p></p>
    </div>
    <div class="user-info">
        <div class="ui card">
            <div class="image">
                <%= image_tag(@user.picture_url)%>
            </div>
            <div class="content">
                <%= link_to @user.user_name, edit_user_path(@user), class:"header" %>
                <div class="meta">
                <span class="date">Joined in <%= @user.created_at.year%></span>
                </div>
                <div class="description">
                    <%= @user.description %>
                </div>
            </div>
            <div class="extra content">
                <span class="right floated">
                <i class="toggle on icon"></i>
                    <%= link_to "Logout", sessions_path, method: :delete, data:{confirm: "Are you sure you want to log out"}%>
                </span>
                <span>
                <i class="heart icon"></i>
                <%= pluralize(@friends_number, "Friend") %>
                </span>
                
            </div>
        </div>
        <div class="request-list">
            
            <div class="ui feed">
                <% @requests_from.each do |request|%>
                <div class="event">
                    <div class="label">
                        <%= image_tag(request.picture_url)%>
                    </div>
                    <div class="content">
                        <div class="summary">
                            <span class="ui purple label">
                            <%= request.user_name%>
                            </span> wants to add you as a friend
                            <div class="date">
                            <%= time_ago_in_words(request.created_at) %> Ago
                            </div>
                            
                        </div>
                    </div>
                    <div class="ui buttons" style="margin-right:1rem">
                    <% if request.is_accepted == nil%>
                        <button class="ui basic red button" onclick="changeFriend(false,<%= request.user_id %>,<%= request.id %>)">Decline</button>
                        <div class="or"></div>
                        <button class="ui basic green button" onclick="changeFriend(true,<%= request.user_id %>,<%= request.id %>)">Approve</button>
                    <% elsif  request.is_accepted == true %>
                        <div class="ui purple basic label" style="line-height: 22px;">
                            Approved
                        </div>
                    <% else %>
                        <div class="ui red basic label" style="line-height: 22px;width: 75.5px">Declined</div>
                    <% end %>
                    </div>
                </div>
                <% end %>
                <% @requests_to.each do |request|%>
                <div class="event">
                    <div class="label">
                        <%= image_tag(current_user.picture_url)%>
                    </div>
                    <div class="content">
                        <div class="summary">
                            You sent a friend request to 
                            <span class="ui purple image label" style="margin-top: -13px;">
                                <%= image_tag(request.picture_url)%>
                                <%= request.user_name%>
                            </span>
                            <div class="date">
                            <%= time_ago_in_words(request.created_at) %> Ago
                            </div>
                            
                        </div>
                    </div>
                    <div style="margin-right:1rem">
                    <% if request.is_accepted == nil%>
                        <div class="ui grey basic label" style="line-height: 22px;width: 75.5px;text-align:center">Waiting</div>
                    <% elsif  request.is_accepted == true %>
                        <div class="ui purple basic label" style="line-height: 22px;">
                            Approved
                        </div>
                    <% else %>
                        <div class="ui red basic label" style="line-height: 22px;width: 75.5px">Declined</div>
                    <% end %>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
    </div>
    <div style="display:flex;justify-content:space-between;margin-bottom:10px;align-content:center;">
        <h2>Friend List</h2>
        <button class="ui purple basic button" id="addNewFriendBtn" style="margin-right:10rem">Add New Friend</button>
    </div>
    <div class="ui link cards">
        <% getFriendList.each do |friend| %>
        <div class="card">
            <div class="image">
                <%= image_tag(friend.picture_url)%>
            </div>
            <div class="content">
            <div class="header"><%= friend.user_name%></div>
                <div class="meta">
                    Joined in <%= friend.created_at.year%>
                </div>
                <div class="description">
                    <%= friend.description %>
                </div>
            </div>
        </div>
        <% end %>

    </div>
    <div class="ui modal" id="add_new_friend_modal">
        <i class="close icon"></i>
        <div class="header">
            Add New Friend
        </div>
        <div class="image content" style="min-height: 122px;">
            <div class="user-add-new-friend">
                <img style="display:none;width: 80px;height: 80px;">
                <span style="display:none;line-height:80px">Nope~</span>
            </div>
            <div class="description ui form">
                <div class="field">
                    <label>User Name</label>
                    <input type="text" style="width:70%" id="user_name" name="user_name" placeholder="Please input the user name">
                    <input type="hidden" id="receiver_id" value="">
                    <button class="ui primary basic button" style="margin-left:2rem;" id="searchBtn">Search</button>
                </div>
            </div>
        </div>
        <div class="actions">
            <button disabled="false" class="ui positive right labeled icon button" id="sendRequestBtn">
                Send the request!
                <i class="checkmark icon"></i>
            </button>
        </div>
    </div>
</div>
<script>
function changeFriend(is_accepted, sender_id, request_id) {
    $.ajax({
        type: "PATCH",
        url: `http://localhost:3000/requests/${request_id}`,
        data: { sender_id, is_accepted },
        dataType: "json",
        success: function (data) {
            window.location = window.location;
        }
    });
}
</script>