<!DOCTYPE html>
<html>
  <head>
    <title>HiChat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= action_cable_meta_tag %>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
  </head>

  <body class="main-body">

        <div class=" menu-list ui column vertical inverted menu" >
          <div class="item">
            <a class="ui logo icon image" href="/">
              <%= image_tag("logo.png")%>
            </a>
          </div>
          <% if user_signed_in?%>
          <div class="item">
            <%= link_to  current_user.user_name, user_path(current_user), class:"user-name-label" %>
          </div>
          <div class="item">
            <div class="header">Friends</div>
            <div class="menu">
                <% getFriendList.each do |friend| %>
                <a class="item" href="/chanels/<%= friend.chanel_id%>" data-behavior="chatroom-link" data-chatroom-id="<%= friend.chanel_id%>">
                  <span><%= friend.user_name%></span>
                </a>
                <%#= link_to(friend.user_name, "/chanels/#{friend.chanel_id}", class:"item",data:{behavior: "chatroom-link", chatroom_id: friend.chanel_id})%>
                <% end %>
            </div>
          </div>
          <div class="item">
            <div class="header">Group</div>
            <div class="menu">
                <a class="item" href="/introduction/integrations.html">
                  <span>Cohort 33</span>
                </a>
                <a class="item" href="/introduction/build-tools.html">
                  <span>Cohort 33</span>
                </a>
                <a class="item" href="/introduction/advanced-usage.html">
                  <span>Cohort 33</span>
                </a>
                <a class="item" href="/introduction/glossary.html">
                  <span>Cohort 33</span>
                </a>
            </div>
          </div>
          <% else %>
          <div class="item">
            Welcome to Hi Chat!
          </div>
          <% end %>
        </div>

      <div class="main-container" >
        <%= yield %>
      </div>
  </body>
  <script>
    Notification.requestPermission();
    document.addEventListener("visibilitychange", function() {
    // console.log(document.visibilityState);
    // if(document.visibilityState == "hidden") {
    //     console.log('隐藏');
    // } else if (document.visibilityState == "visible") {
    //     console.log('显示')
    // }
    });
  </script>
</html>
