<!DOCTYPE html>
<html>
  <head>
    <title>HiChat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= action_cable_meta_tag %>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
  </head>

  <body class="main-body">

        <div class=" menu-list ui column vertical inverted menu" >
          <div class="item">
            <a class="ui logo icon image" href="/">
              <%= image_tag("logo.png")%>
            </a>
          </div>
          <% if user_signed_in?%>
          <div class="item">
            <%= link_to  current_user.user_name, user_path(current_user), class:"user-name-label" %>
          </div>
          <div class="item">
            <div class="header">Friends</div>
            <div class="menu">
                <% getFriendList.each do |friend| %>
                <a class="item" href="/chanels/<%= friend.chanel_id%>" data-behavior="chatroom-link" data-chatroom-id="<%= friend.chanel_id%>">
                  <span><%= friend.user_name%></span>
                  <i class="comment purple icon" style='display: <%= un_read_msg(friend.chanel_id) ? "block" : "none"%>;'></i>
                </a>
                <%#= link_to(friend.user_name, "/chanels/#{friend.chanel_id}", class:"item",data:{behavior: "chatroom-link", chatroom_id: friend.chanel_id})%>
                <% end %>
            </div>
          </div>
          <div class="item">
              <a href="#" id="add_new_channel" >
                  <i class="plus square outline icon"></i>
                  <span>Add new channel</span>
              </a>
              
          </div>
          <div class="item">
            <div class="header">Groups</div>
            <div class="menu">
                <% getGroupChannels.each do |group_channel| %>
                <a class="item" href="/chanels/<%= group_channel.id%>" data-behavior="chatroom-link" data-chatroom-id="<%= group_channel.id%>">
                  <span><%= group_channel.title%></span>
                  <i class="comment purple icon" style='display: <%= un_read_msg(group_channel.id) ? "block" : "none"%>;'></i>
                </a>
                <% end %>
            </div>
          </div>
          <% else %>
          <div class="item">
            Welcome to Hi Chat!
          </div>
          <% end %>
        </div>

      <div class="main-container" >
        <%= yield %>
      </div>
      <div class="ui small modal" id="add_new_channel_modal">
        <div class="header">Add new channel</div>
        <div class="content">
          <div class="ui form">
            <div class="field">
              <label>Channel Name</label>
              <input type="text" placeholder="Channel Name" id="channel_name">
            </div>
          </div>
          <div class="ui list">
            <% if user_signed_in?%>
            <% getFriendList.each do |friend| %>
            <div class="item">
                <%= image_tag(friend.picture_url, class:"ui avatar image")%>
                <div class="content" >
                  <div>
                    <span class="header"><%= friend.user_name%></span>
                    <div class="description friend-modal">
                      <label class="friend-description"><%= friend.description%></label>
                      <div class="ui toggle checkbox friend-toggles">
                        <input type="checkbox" value="<%= friend.id%>">
                        <label>add</label>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <% end %>
            <% end %>
          </div>
        </div>
          <div class="actions">
            <div class="ui black deny button">
              Cancel
            </div>
            <div class="ui positive right labeled icon button" id="add_new_channel_btn">
              Add
              <i class="checkmark icon"></i>
            </div>
          </div>
      </div>
  </body>
  <script>
    Notification.requestPermission();
    document.addEventListener("visibilitychange", function() {
    // console.log(document.visibilityState);
    // if(document.visibilityState == "hidden") {
    //     console.log('隐藏');
    // } else if (document.visibilityState == "visible") {
    //     console.log('显示')
    // }
    });
  </script>
</html>
